$soft-blue: rgb(139, 172, 218);
$cyan: rgb(0, 255, 247);
$cyan-transparent: rgba(0, 255, 247, 0.4);

$very-dark-blue-main-BG: rgb(13, 25, 43);
$very-dark-blue-card-BG: rgb(20, 37, 61);
$very-dark-blue-line: rgb(47, 65, 91);
$white: rgb(255, 255, 255);
